@model BanVeMayBay.Models.user

@{
    ViewBag.Title = "Myaccount";
    Layout = "~/Views/Shared/_layOutSite.cshtml";
}


<div class="checkout-area pb-80 pt-100">
    <div class="container">
        <div class="row">
            @Html.Partial("_MessgeAlert")
            <div class="ml-auto mr-auto col-lg-12" style="margin-top:180px;">
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default single-my-account">
                            <div id="my-account-1">
                                <div class="panel-body">
                                    <form action="" method="POST">
                                        <input type="hidden" value="@Model.status" name="status" />
                                        <input type="hidden" value="@Model.gender" name="gender" />
                                        <input type="hidden" value="@Model.access" name="access" />
                                        <input type="hidden" value="@Model.username" name="username" />
                                        <input type="hidden" value="@Model.password" name="password" />
                                        <div class="myaccount-info-wrapper">
                                            <div class="account-info-wrapper">
                                                <h2 style="text-align:center;">Account Information</h2>
                                            </div>
                                            <div class="row">
                                                <span class="text-danger">@ViewBag.success</span>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>User Name</label>
                                                        <input type="hidden" name="id" value="@Model.ID">
                                                        <input type="text" value="@Model.username" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Fullname</label>
                                                        <input type="text" name="fullname" value="@Model.fullname">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="billing-info">
                                                        <label>Address </label>
                                                        <input type="text" name="address" value="@Model.address" required>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Phone</label>
                                                        <input type="text" name="phone" value="@Model.phone">
                                                        <span asp-validation-for="phone" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Email</label>
                                                        <input type="email" name="email" value="@Model.email">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="billing-info">
                                                        <label>Old Password  </label>
                                                        <input type="password" name="pswO" required>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>New Password</label>
                                                        <input type="password" name="pswN" required>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Re-Enter New Password</label>
                                                        <input type="password" name="pswR" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="billing-back-btn" style="margin-top:20px">
                                                <div class="billing-btn">
                                                    <button class="btn-blue btn-red btn-style-1 " type="submit">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Action("ListOderCus", "Customer")