@model BanVeMayBay.Models.topic

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    List<SelectListItem> listcat = new List<SelectListItem>();
    List<SelectListItem> listorder = new List<SelectListItem>();
    List<SelectListItem> status = new List<SelectListItem>();
    SelectListItem statusitem1 = new SelectListItem() { Value = "1", Text = "Display" };
    SelectListItem statusitem2 = new SelectListItem() { Value = "2", Text = "Hidden" };
    status.Add(statusitem1);
    status.Add(statusitem2);
    SelectListItem listorderitem;
    foreach (var item in ViewBag.listtopic)
    {
        listorderitem = new SelectListItem() { Value = item.orders + "", Text = "After [" + item.name + "]" };
        listorder.Add(listorderitem);


    }

}

<div class="card card-title bg-white p-1">
    <div class="row">
        <div class="col-md-6 "> <h5 class="pl-2 mt-2 text-blues">Add Topic </h5> </div>
        <div class="col-md-6 m-0">
            <ol class="breadcrumb bg-white float-sm-right m-0">
                <li class="breadcrumb-item"><a href="/Admin">Home</a></li>
                <li class="breadcrumb-item active">Add Topic</li>
            </ol>
        </div>
    </div>
</div>




    <section class="card card-title bg-white p-1">
        @Html.Partial("_MessgeAlert")
        <div class=" bg-white p-4 ">

            @using (Html.BeginForm("Create", "topic"))
            {
                @Html.AntiForgeryToken()
                <div class=" row ">
                    <div class="col-md-4">  </div>
                    <div class="col-md-4"> <h3 class="text-center font-weight-bold text-success "> More Topic Type</h3> </div>
                    <div class="col-md-4 ">
                        <div class="float-right">
                            <button class="btn btn-sm bg-success text-white"><i class="far fa-save"></i> Save</button>
                            <a href="~/admin/topic" class="btn btn-sm bg-danger text-white"><i class="far fa-window-close"></i>Cancel</a>
                        </div>
                    </div>
                </div>
                <div class=" row ">
                    <div class="col-md-8">
                        <div>
                            <label for="psw"><span class="text-secondary ">Topic Name</span></label>
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="col-md-4">

                        <div>
                            <label for="psw"><span class="text-secondary ">Position Display</span></label>
                            @Html.DropDownListFor(model => model.orders, listorder, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.orders, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <label for="psw"><span class="text-secondary ">Status</span></label>
                            @Html.DropDownListFor(model => model.status, status, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>
            }
        </div>
    </section>
    <script>
        $("#topic").addClass("active");
    </script>

