
@model BanVeMayBay.Models.post

@{

    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    List<SelectListItem> listcat = new List<SelectListItem>();
    List<SelectListItem> listorder = new List<SelectListItem>();
    List<SelectListItem> status = new List<SelectListItem>();

    SelectListItem statusitem1 = new SelectListItem() { Value = "1", Text = "Publishing" };
    SelectListItem statusitem2 = new SelectListItem() { Value = "2", Text = "No Publishing" };
    status.Add(statusitem1);
    status.Add(statusitem2);



    SelectListItem listcatitem;
    foreach (var item in ViewBag.listTopic)
    {
        listcatitem = new SelectListItem() { Value = item.ID + "", Text = item.name + "" };
        listcat.Add(listcatitem);
    }

}
<!-- Content Wrapper. Contains page content -->

    <!-- /.content-header -->
    <div class="card card-title bg-white p-1">
        <div class="row">
            <div class="col-md-6 "> <h5 class="pl-2 mt-2 text-blues">Manage Posts </h5> </div>
            <div class="col-md-6 m-0">
                <ol class="breadcrumb bg-white float-sm-right m-0">
                    <li class="breadcrumb-item"><a href="/Admin">Home</a></li>
                    <li class="breadcrumb-item active">Update Posts</li>
                </ol>
            </div>
        </div>
    </div>

    <section class="pt-2 container card">
        @Html.Partial("_MessgeAlert")
        <div class="container bg-white p-4 ">

            @using (Html.BeginForm("Edit", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.created_at)
                @Html.HiddenFor(model => model.created_by)
                @Html.HiddenFor(model => model.img)
                <div class=" row ">
                    <div class="col-md-4">  </div>
                    <div class="col-md-4"> <h3 class="text-center font-weight-bold text-success "> Update Posts</h3> </div>
                    <div class="col-md-4 ">
                        <div class="float-right">
                            <button class="btn btn-sm bg-success text-white"><i class="far fa-save"></i>Save</button>
                            <a href="~/admin/post" class="btn btn-sm bg-danger text-white"><i class="far fa-window-close"></i> Cancel</a>
                        </div>
                    </div>
                </div>
                <div class=" row ">
                    <div class="col-md-8">
                        <div>
                            <label for="psw"><span class="text-secondary ">Post Title</span></label>
                            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <label for="psw"><span class="text-secondary ">Content</span></label>
                            @Html.TextAreaFor(model => model.detail, new { @class = "form-control textarea",
                           @style = "width: 100%;font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" })
                            @Html.ValidationMessageFor(model => model.detail, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="col-md-4">

                        <label for="psw"><span class="text-secondary ">Select the type of Post Type</span></label>
                        <div>
                            @Html.DropDownListFor(model => model.topid, listcat, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.topid, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <label for="psw"><span class="text-secondary ">Image Posts</span></label>
                            <input type="file" class="form-control" name="img" />
                            @Html.ValidationMessageFor(model => model.img, "", new { @class = "text-danger" })

                        </div>
                        <div>
                            <label for="psw"><span class="text-secondary ">Status</span></label>
                            @Html.DropDownListFor(model => model.status, status, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })

                        </div>
                    </div>


                </div>
            }
        </div>
    </section>
    <script>
        $("#post").addClass("active");
        $(function () {
            // Summernote
            $('.textarea').summernote()
        })
    </script>
