
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_layOutSiteHeader.cshtml";
}
<section class="mt_search" style="margin-top:50px !important; ">

    <div class="container card bg-white" style="padding:30px !important; ">
        <div class="search-content-slider">
            <div class="section-title text-center ">
                <h2>SEARCH FLIGHT</h2>
                <p>Hanoi, Da Nang, Ho Chi Minh City, Quy Nhon, Da Lat, Phu Quoc, the price is only from 899,000 VND.</p>
            </div>
            <form action="~/Site/flightSearch" method="post" id="form-search">
                <div class="radio" align="center">
                    <label><input value="disable" type="radio" id="typeticket" name="typeticket" checked>One Way</label>
                    <label><input value="enable" type="radio" id="typeticket" name="typeticket">Two Way</label>

                </div>
                <input type="hidden" id="ticketCheck" value="" />

                <div class="row">
                    
                    <div class="col-md-3 col-sm-6">
                        <div class="table_item">
                            <div class="form-group">
                                <select name="departure_address" class="selectpicker form-control" tabindex="1" required>

                                    @foreach (var item in ViewBag.cities)
                                    {
                                        <option value="@item.cityName">@item.cityName</option>
                                    }

                                </select>
                                <i class="flaticon-maps-and-flags"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="table_item">
                            <div class="form-group">
                                <select name="arrival_address" class="selectpicker form-control" tabindex="1">


                                    @foreach (var item in ViewBag.cities)
                                    {
                                        <option value="@item.cityName">@item.cityName</option>
                                    }

                                </select>
                                <i class="flaticon-maps-and-flags"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="table_item">
                                    <div class="form-group">
                                        <select name="songuoi1" class="selectpicker form-control" tabindex="1">
                                            <option value="1" selected>Adult(01)</option>
                                            <option value="2">Adult(02)</option>
                                            <option value="3">Adult(03)</option>
                                            <option value="4">Adult(04)</option>
                                            <option value="5">Adult(05)</option>
                                        </select>
                                        <i class="flaticon-box"></i>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="table_item">
                                    <div class="form-group">
                                        <select name="songuoi2" class="selectpicker form-control" tabindex="1">
                                            <option value="0">Children(0)</option>
                                            <option value="1">Children(01)</option>
                                            <option value="2">Children(02)</option>

                                        </select>
                                        <i class="flaticon-box"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="table_item">
                                    <div class="form-group">
                                        <select name="songuoi3" class="selectpicker form-control" tabindex="1">
                                            <option value="0">Senior citizens(0)</option>
                                            <option value="1">Senior citizens(01)</option>
                                            <option value="2">Senior citizens(02)</option>
                                            <option value="3">Senior citizens(03)</option>

                                        </select>
                                        <i class="flaticon-box"></i>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="table_item">
                            <div class="form-group ">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type="text" id="departure_date" name="departure_date" class="form-control" placeholder="Start Date" onclick="return 0" required />
                                    <i class="flaticon-calendar"></i>

                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>

                                </div>
                                @Html.Partial("_MessgeAlert")
                                <span class="text-danger" id="ngaybay"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="table_item">
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type='text' id="arrival_date" name="arrival_date" class="form-control" placeholder="Return Day" required />
                                    <i class="flaticon-calendar"></i>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>

                                </div>
                                <span class="text-danger" id="ngayve"></span>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="col-md-12  ">
                    <div class="table_item " align="center">
                        <div class="search ">
                            <button type="submit" class="btn-blue btn-red ">Search Flight</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>

<!-- Top Destinations -->
<section class="flight-destinations">

    <div class="container bg-white">
        <div class="row">
            <form action="~/Checkout/Index" method="post">
                <input type="hidden" name="songuoi" value="@ViewBag.songuoi" />
                <div class="col-md-12">
                    <div class="flight-head">
                        <div class="">
                            <div class="col-md-10">
                                <nav aria-label="breadcrumb">
                                    @{var Date = ViewBag.dateNow; }
                                    <span style="font-weight:bold; font-size:22px;color:#ff6a00;"><i class="fas fa-fighter-jet"></i> Flights of the day: @Date.ToString("dd-MM-yyyy") </span>

                                </nav>
                            </div>

                            <div class="col-md-2"> <a href="~/chuyen-bay-trong-ngay" class="btn-blue btn-red btn-style-1 w-100">View All</a></div>
                        </div>
                    </div>

                </div>
                <div class="flight-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Airline</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Class</th>
                                <th>Detail</th>
                                <th>Price</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in ViewBag.tickets)
                            {
                                <tr>
                                    <td class="text-center">
                                        <img style="width:80px;height:60px" src="~/public/images/flight/@item.airline" alt="">
                                    </td>
                                    <td>
                                        <h6>@item.city.cityName</h6>
                                        <p>Airport (@item.city.cityName)</p>
                                    </td>
                                    <td>
                                        <h6>@item.city1.cityName</h6>
                                        <P>Airport (@item.city1.cityName)</P>
                                    </td>
                                    <td>
                                        <h6>@item.departure_time</h6>
                                    </td>
                                    <td>
                                        <h6>@item.arrival_time</h6>

                                    </td>
                                    <td>
                                        <h6>@item.ticketType</h6>


                                    </td>

                                    <td>
                                        <a href="~/chuyen-bay/@item.id">Detail</a>
                                    </td>
                                    <td>
                                        <h6><strong class="color-red-3">@item.price.ToString("N0") $</strong></h6>
                                        <p class="emi">(Currency - $)</p>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>

</section>
<script>
    $("#form-search").submit(function (event) {
        $("#ngaybay").text("");
        $("#ngayve").text("");
        var ngaybay = $("#departure_date").val();
        var ngayve = $("#arrival_date").val();
        var typeticket = $("#ticketCheck").val();


        if (ngaybay == "Ngày Bay") {
            $("#ngaybay").text("Please select your flight date");

            return false;

        }
        if (typeticket == 2) {
            if (ngayve == "Ngày về") {
                $("#ngayve").text("Please select a return date");
                return false
            }
            else {
                return true;
            }
        }
        return true;

    });
    $(document).ready(function () {
        // By Default Disable radio button
        $("#arrival_date").attr('disabled', true);
        $("form input:radio").change(function () {
            if ($(this).val() == "enable") {
                $("#arrival_date").attr('disabled', false);
                $("#ticketCheck").val(2);
            }
            else {
                $("#arrival_date").attr('disabled', true);
                $("#ticketCheck").val(1);
            }
        });
    });
</script>
