@model IEnumerable<BanVeMayBay.Models.ticket>
@{ var sum = 0;}
@foreach (var item in Model)
{
    
    <table style="margin-top:20px;">
        <tbody>
            <tr>
                <td class="title">Total</td>
                <td class="b-id text-danger">@item.price.Value.ToString("N0") $</td>
            </tr>
            <tr>
                <td class="title">Start Date</td>
                <td>@item.departure_date</td>
            </tr>
            <tr>
                <td class="title">From</td>
                <td>@item.city.cityName</td>
            </tr>
            <tr>
                <td class="title">To</td>
                <td>@item.city1.cityName</td>
            </tr>
            <tr>
                <td class="title">DepartureTime</td>
                <td>@item.departure_time</td>
            </tr>
            <tr>
                <td class="ArriveTime">To</td>
                <td>@item.arrival_time</td>
            </tr>
        </tbody>
    </table>   
    
    sum += (int)item.price;
}
