@model BanVeMayBay.Models.ticket

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_layOutAdmin.cshtml";
}


<div class="card card-title bg-white p-1">
    <div class="row">
        <div class="col-md-6 "> <h5 class="pl-2 mt-2 text-blues">Add Tickets </h5> </div>
        <div class="col-md-6 m-0">
            <ol class="breadcrumb bg-white float-sm-right m-0">
                <li class="breadcrumb-item"><a href="/Admin">Home</a></li>
                <li class="breadcrumb-item active">Add Tickets</li>
            </ol>
        </div>
    </div>
</div>

<section class="@*container pt-2 card*@ card card-title bg-white p-1">
    @Html.Partial("_MessgeAlert")
    <div class="container bg-white pt-4 " style="margin-bottom:30px">

        @using (Html.BeginForm("Create", "Tickets", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class=" row ">
                <div class="col-md-4">  </div>
                <div class="col-md-4"> <h3 class="text-center font-weight-bold text-success "> Add Tickets</h3> </div>
                <div class="col-md-4 ">
                    <div class="float-right">
                        <button class="btn btn-sm bg-success text-white"><i class="far fa-save"></i> Save</button>
                        <a href="~/admin/Tickets" class="btn btn-sm bg-danger text-white"><i class="far fa-window-close"></i> Cancel</a>
                    </div>
                </div>
            </div>
            <div class=" row ">
                <div class="col-md-10">
                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">Ticket Title</span></label>
                        <input type="text" name="name" class="form-control" value="" required />

                    </div>
                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">Ticket Description</span></label>
                        <input type="text" name="description" class="form-control" value="" required />

                    </div>


                </div>
                <div class="col-md-5 ">

                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">From</span></label>
                        <select  name="fromAirport" class="selectpicker form-control" tabindex="1">

                            @foreach (var item in ViewBag.cities)
                            {
                                <option value="@item.cityId">@item.cityName</option>
                            }


                        </select>
                    </div>
                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">To</span></label>
                        <select name="toAirport" class="selectpicker form-control" tabindex="1">

                            @foreach (var item in ViewBag.cities)
                            {
                                <option value="@item.cityId">@item.cityName</option>
                            }


                        </select>

                    </div>
                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">Flight Code</span></label>
                        <input type="text" name="flightCode" class="form-control" value="" placeholder="" required />
                        <span asp-validation-for="flight" class="text-danger"></span>
                    </div>


                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">Class</span></label>
                        <select name="ticketType" class="selectpicker form-control" tabindex="1">
                            <option selected value="Promotion">Promotion</option>
                            <option value="Economic">Economic</option>
                            <option value="Bussiness">Bussiness</option>
                        </select>

                    </div>


                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">Amount Seats</span></label>
                        <input type="number" name="guestTotal" class="form-control" value="" placeholder="Amount Seats > 50" required min="50" />
                        <span asp-validation-for="guestTotal" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-5">
                    <div>

                        <label for="psw"><span class="text-secondary font-weight-bold">Start Date</span></label>
                        <input type="date" name="departure_date" class="form-control" value="" required />
                     
                    </div>
                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">Start Time</span></label>
                        <input type="time" name="departure_time" class="form-control" value="" required />
                       

                    </div>
                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">Arrive Time</span></label>
                        <input type="time" name="arrival_time" class="form-control" value="" required />
                      

                    </div>
                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">Airline</span></label>
                        <input type="file" class="form-control" name="airline" required />
                       
                    </div>
                    <div>
                        <label for="psw"><span class="text-secondary font-weight-bold">Price</span></label>
                        <input type="number" name="price" class="form-control" placeholder="30$ <= Price <= 3000$" value="" required min="30" max="3000" />
                        <span asp-validation-for="price" class="text-danger"></span>
                    </div>
                        <div>
                            <label for="psw"><span class="text-secondary font-weight-bold">Status</span></label>
                            <select name="status" class="selectpicker form-control" tabindex="1">
                                <option value="1">Display</option>
                                <option value="2">Hidden</option>
                            </select>
                        </div>
                    </div>
                </div>           
        }
    </div>
</section>
